<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Marek Suchánek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Committee</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
        header {
            padding-top: 2em;
        }
        footer {
            text-align: center;
            padding-bottom: 0.5em;
        }
    </style>
</head>
<body>
    <main class="container">
        <header>
            <h1>
                Committee
                <small class="text-muted">An universal tool for checking commits on GitHub</small>
            </h1>
        </header>
        <hr>
        <article id="content">
            {% block body %}{% endblock %}
        </article>
        <hr>
        <footer class="text-muted">
            Marek Suchánek &amp; Miro Hrončok (for <a href="https://github.com/cvut/NI-PYT/" target="_blank">NI-PYT</a>) &copy; 2020
        </footer>
    </main>
</body>
</html>
